.page {
  font-family: 'SF Pro Display', sans-serif;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;

    @include onDesktop {
      background-image: url('../images/desktop-background-image.png');
      background-size: 687.25px 579.31px;
      background-position: 650.38px 100px;
      background-repeat: no-repeat;
    }
  }
}
