.page {
  scroll-behavior: smooth;

  &__body {
    margin: 0;
    padding: 0;

    @include onDesktop {
      background-image: url(../images/desktop-background-image.png);
      background-position: 704.38px 133px;
      background-size:687.25px 579.31px;
      background-repeat: no-repeat;
    }
  }
}

