* {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
li,
a,
p,
img {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.page {
  font-family: "SF Pro Display", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.page__body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
@media (min-width: 1140px) {
  .page__body {
    background-image: url("../images/desktop-background-image.png");
    background-size: 687.25px 579.31px;
    background-position: 700.38px 100px;
    background-repeat: no-repeat;
  }
}

.header {
  background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
  height: 100vh;
  width: 100%;
  margin-bottom: 77px;
}
@media (min-width: 720px) {
  .header {
    margin-bottom: 106px;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 40px;
  margin-inline: 15px;
}
@media (min-width: 720px) {
  .header__top {
    margin-inline: 40px;
  }
}
@media (min-width: 1140px) {
  .header__top {
    margin-inline: 165px;
  }
}
.header__bottom {
  --columns: 4;
  --column-width: 64px;
  --gutter-width: 30px;
  --max-container-width: 375px;
  --effective-column-width: calc((100% - (var(--columns) - 1) * var(--gutter-width)) / var(--columns));
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, var(--effective-column-width)));
  column-gap: var(--gutter-width);
  max-width: var(--max-container-width);
  margin-inline: 15px;
  padding-bottom: 69px;
}
@media (min-width: 720px) {
  .header__bottom {
    --columns: 6;
    --columns-width: 90px;
    --max-container-width: 720px;
  }
}
@media (min-width: 1140px) {
  .header__bottom {
    --columns: 12;
    --columns-width: 65px;
    --max-container-width: 1140px;
  }
}
@media (min-width: 720px) {
  .header__bottom {
    margin-inline: 40px;
    padding-bottom: 164px;
  }
}
@media (min-width: 1140px) {
  .header__bottom {
    margin-inline: 165px;
  }
}
.header__title {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 55px;
  font-size: 48px;
  font-weight: 800;
  line-height: 62.4px;
  letter-spacing: 0.02em;
  color: #1F3F68;
  text-transform: uppercase;
}
@media (min-width: 720px) {
  .header__title {
    grid-column: 1/-1;
    font-size: 64px;
    line-height: 83.2px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1140px) {
  .header__title {
    grid-column: 1/span 7;
  }
}
.header__text {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 94px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  color: #1F3F68;
  letter-spacing: 0.04em;
  opacity: 60%;
  text-align: left;
}
@media (min-width: 720px) {
  .header__text {
    grid-column: 1/span 4;
  }
}
@media (min-width: 1140px) {
  .header__text {
    grid-column: 1/span 5;
  }
}
.header__button {
  grid-column: 1/span 3;
  padding: 0;
  min-width: 220px;
  min-height: 56px;
  border-radius: 10px;
  border: none;
  background-color: #5A98D0;
  color: #fff;
  cursor: pointer;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-align: center;
  transition: background-color 0.3s;
}
@media (min-width: 720px) {
  .header__button {
    grid-column: 1/3;
  }
}
.header__button:hover {
  background-color: #4799E3;
}
.header__button:active {
  background-color: #4088C9;
}

.icon {
  height: 32px;
  width: 32px;
  transition: scale 0.3s;
}
.icon:hover {
  scale: 1.1;
}
.icon--menu {
  background-image: url(../images/icon-menu.svg);
}

.main {
  width: 100%;
}
.main__content {
  --columns: 4;
  --column-width: 64px;
  --gutter-width: 30px;
  --max-container-width: 375px;
  --effective-column-width: calc((100% - (var(--columns) - 1) * var(--gutter-width)) / var(--columns));
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, var(--effective-column-width)));
  column-gap: var(--gutter-width);
  max-width: var(--max-container-width);
  margin-inline: 15px;
  margin-bottom: 140px;
}
@media (min-width: 720px) {
  .main__content {
    --columns: 6;
    --columns-width: 90px;
    --max-container-width: 720px;
  }
}
@media (min-width: 1140px) {
  .main__content {
    --columns: 12;
    --columns-width: 65px;
    --max-container-width: 1140px;
  }
}
@media (min-width: 720px) {
  .main__content {
    margin-inline: 40px;
  }
}
@media (min-width: 1140px) {
  .main__content {
    margin-inline: 165px;
  }
}
.main__article {
  grid-column: 1/-1;
  min-height: 500px;
  max-height: 525px;
  min-width: 330px;
  max-width: 348px;
  padding: 24px;
  margin-bottom: 64px;
  background-color: #fff;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 720px) {
  .main__article {
    grid-column: 2/5;
  }
}
@media (min-width: 1140px) {
  .main__article--first {
    grid-column: 8/span 4;
    margin-top: 15px;
  }
  .main__article--second {
    position: relative;
    bottom: 50%;
    grid-column: 2/span 4;
  }
  .main__article--third {
    grid-column: 8/span 4;
    margin-bottom: 142px;
  }
}
.main__article-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-align: left;
  color: #1F3F68;
}
.main__article-text {
  margin: 0;
  margin-bottom: 56px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.08em;
  text-align: left;
  opacity: 60%;
  color: #1F3F68;
}
.main__article-link {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #5A98D0;
  cursor: pointer;
  transition: transform 0.3s;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
  text-decoration: none;
}
.main__article-link:hover {
  transform: scale(1.05);
}
.main__article-link:after {
  content: "";
  height: 16px;
  width: 16px;
  background-image: url(../images/icon-arrow.svg);
}
.main__article-image {
  display: flex;
  align-self: center;
  margin-bottom: 43px;
}
.main__article-image--positioned {
  position: relative;
  height: 197px;
  width: 250px;
  margin: auto;
  bottom: 40px;
}
.main__article-image--second {
  width: 182px;
  height: 132px;
}
.main__article-image--third {
  width: 156px;
  height: 131px;
}
.main__title {
  grid-column: 1/-1;
  margin-bottom: 64px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #316099;
}
@media (min-width: 720px) {
  .main__title {
    grid-column: 2/span 4;
  }
}
@media (min-width: 1140px) {
  .main__title {
    grid-column: 2/span 6;
    margin-bottom: 111px;
  }
}
.main__form {
  grid-column: 1/-1;
  padding: 56px 45px 43px;
  min-width: 330px;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
@media (min-width: 720px) {
  .main__form {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1140px) {
  .main__form {
    grid-column: 3/span 8;
  }
}
.main__form-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 720px) {
  .main__form-title {
    grid-column: 1/-1;
  }
}
.main__form-input {
  height: 40px;
  padding-block: 7px;
  padding-left: 16px;
  border: none;
  border-radius: 6px;
  outline: none;
  background-color: #EAF3FA;
}
.main__form-input::placeholder {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #5A768C;
}
.main__form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  outline: none;
}
.main__form-label--title {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-align: left;
}
.main__form-label--info {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #888888;
}
.main__form-checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
}
@media (min-width: 720px) {
  .main__form-checkbox {
    grid-column: 1/-1;
  }
}
.main__form-checkbox-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #1F3F68;
}
.main__form-button {
  height: 56px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #5A98D0;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.06em;
  transition: background-color 0.3s;
}
@media (min-width: 720px) {
  .main__form-button {
    grid-column: 1/-1;
  }
}
.main__form-button:hover {
  background-color: #4799E3;
}
.main__form-button:active {
  background-color: #4088C9;
}

input[type=checkbox] {
  display: none;
}

.main__form-checkbox-custom {
  display: inline-block;
  width: 70px;
  height: 28px;
  background-color: #DEECF7;
  border-radius: 6px;
  cursor: pointer;
}
@media (min-width: 720px) {
  .main__form-checkbox-custom {
    width: 28px;
  }
}

input[type=checkbox]:checked + .main__form-checkbox-custom {
  background-color: #1F3F68;
  background-image: url(../images/icon-checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  width: 100%;
  background-color: #316099;
  border-top-right-radius: 200px;
}
.footer__content {
  padding-bottom: 34px;
}
.footer__top {
  --columns: 4;
  --column-width: 64px;
  --gutter-width: 30px;
  --max-container-width: 375px;
  --effective-column-width: calc((100% - (var(--columns) - 1) * var(--gutter-width)) / var(--columns));
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, var(--effective-column-width)));
  column-gap: var(--gutter-width);
  max-width: var(--max-container-width);
  position: relative;
  padding-top: 91px;
  padding-bottom: 52px;
}
@media (min-width: 720px) {
  .footer__top {
    --columns: 6;
    --columns-width: 90px;
    --max-container-width: 720px;
  }
}
@media (min-width: 1140px) {
  .footer__top {
    --columns: 12;
    --columns-width: 65px;
    --max-container-width: 1140px;
  }
}
.footer__top::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 1px;
  opacity: 40%;
  background-color: #fff;
}
.footer__top-title {
  grid-column: 1/4;
  margin-bottom: 38px;
  margin-left: 24px;
  text-wrap: wrap;
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  margin-left: 15px;
}
@media (min-width: 720px) {
  .footer__top-title {
    grid-column: 1/span 3;
    margin-left: 40px;
  }
}
@media (min-width: 1140px) {
  .footer__top-title {
    grid-column: 2/span 6;
    margin-left: 165px;
  }
}
.footer__top-text {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
  opacity: 60%;
  line-height: 38.4px;
  letter-spacing: 0.06em;
  color: #fff;
  margin-left: 15px;
}
@media (min-width: 720px) {
  .footer__top-text {
    grid-column: 1/span 5;
    margin-left: 40px;
  }
}
@media (min-width: 1140px) {
  .footer__top-text {
    grid-column: 2/span 7;
    margin-left: 165px;
  }
}
.footer__top-button {
  grid-column: 1/span 2;
  width: 220px;
  height: 56px;
  margin-left: 15px;
  color: #fff;
  background-color: #5A98D0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.08em;
  text-align: center;
  transition: background-color 0.3s;
}
@media (min-width: 720px) {
  .footer__top-button {
    grid-column: 1/span 2;
    margin-left: 40px;
  }
}
@media (min-width: 1140px) {
  .footer__top-button {
    grid-column: 10/span 2;
    margin-left: 0;
  }
}
.footer__top-button:hover {
  background-color: #4799E3;
}
.footer__top-button:active {
  background-color: #4088C9;
}
.footer__bottom {
  --columns: 4;
  --column-width: 64px;
  --gutter-width: 30px;
  --max-container-width: 375px;
  --effective-column-width: calc((100% - (var(--columns) - 1) * var(--gutter-width)) / var(--columns));
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, var(--effective-column-width)));
  column-gap: var(--gutter-width);
  max-width: var(--max-container-width);
  color: #fff;
  margin-inline: 15px;
}
@media (min-width: 720px) {
  .footer__bottom {
    --columns: 6;
    --columns-width: 90px;
    --max-container-width: 720px;
  }
}
@media (min-width: 1140px) {
  .footer__bottom {
    --columns: 12;
    --columns-width: 65px;
    --max-container-width: 1140px;
  }
}
@media (min-width: 720px) {
  .footer__bottom {
    grid-column: 1/-1;
    margin-inline: 40px;
  }
}
@media (min-width: 1140px) {
  .footer__bottom {
    margin-inline: 165px;
  }
}
.footer__logo {
  grid-column: 1/2;
  margin-top: 47px;
  margin-bottom: 32px;
}
@media (min-width: 720px) {
  .footer__logo {
    grid-column: 1/2;
    margin-top: 25px;
  }
}
.footer__contacts {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin-bottom: 52px;
  margin-top: 60px;
}
@media (min-width: 720px) {
  .footer__contacts {
    grid-column: 1/span 2;
    margin-top: 60px;
  }
}
@media (min-width: 1140px) {
  .footer__contacts {
    grid-column: 1/span 4;
  }
}
.footer__contacts-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.08em;
  opacity: 60%;
  text-align: left;
}
.footer__contacts-item {
  display: flex;
  gap: 16px;
}
.footer__contacts-item--letter {
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: italic;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__contacts-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.08em;
  opacity: 60%;
  text-align: left;
}
.footer__about {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin-bottom: 52px;
}
@media (min-width: 720px) {
  .footer__about {
    grid-column: 4/span 3;
  }
}
@media (min-width: 1140px) {
  .footer__about {
    grid-column: 5/span 3;
  }
}
.footer__about-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.08em;
  text-align: left;
}
.footer__about-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__follow {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin-bottom: 44px;
}
@media (min-width: 720px) {
  .footer__follow {
    grid-column: -1;
  }
}
@media (min-width: 1140px) {
  .footer__follow {
    grid-column: 8/span 2;
  }
}
.footer__follow-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__follow-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-align: left;
}
.footer__rights {
  grid-column: 1/-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 40%;
}
@media (min-width: 720px) {
  .footer__rights {
    grid-column: 1/-1;
  }
}

.logo {
  transition: scale 0.3s;
}
.logo:hover {
  scale: 1.1;
}
.logo-link {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
