@mixin onMobile {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin pageGrid {
  --columns: 4;
  --column-width: 64px;
  --gutter-width: 30px;
  --max-container-width: 375px;

  --effective-column-width: calc((100% - (var(--columns) - 1) * var(--gutter-width)) / var(--columns));

  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, var(--effective-column-width)));
  column-gap: var(--gutter-width);
  max-width: var(--max-container-width);

  @include onTablet {
    --columns: 6;
    --columns-width: 90px;
    --max-container-width: 720px;
  }

  @include onDesktop {
    --columns: 12;
    --columns-width: 65px;
    --max-container-width: 1140px;
  }
}

@mixin contentMarginInline {
  margin-inline: 15px;

  @include onTablet {
    padding-inline: 40px;
  }

  @include onDesktop {
    padding-inline: 165px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $transition-duration;

  &:hover {
    #{$property}: $toValue;
  }
}