$default-button-color: #5A98D0;
$hover-button-color: #4799E3;
$active-button-color: #4088C9;
$link-color: #5A98D0;
$ellipse-color: #98C3E8;
$footer-background-color: #316099;
$input-background-color: #EAF3FA;


$tablet-min-width: 720px;
$desktop-min-width: 1140px;
$transition-duration: 0.3s;
